@import "tailwindcss";

/* * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
} */

.rotate {
  animation: spin 0.8s linear infinite;
}
.card {
  border: 1px solid var(--cardBorder);
  transition: border 0.2s ease;
}
.card:hover{
  border-color: var(--cardHover);
}
.card.active {
  border-color: var(--cardActiveBorder);
}

.button:hover {
  transform: scale(1.01);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse-rec {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-pulse-rec {
  animation: pulse-rec 1.2s infinite;
}

* {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable-italic.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: italic;
  font-display: swap;
}