@import "tailwindcss";

.rotate {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable-italic.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: italic;
  font-display: swap;
}