@import "tailwindcss";

.rotate {
  animation: spin 0.8s linear infinite;
}
.card {
  border: 1px solid var(--cardBorder);
  transition: border 0.2s ease;
}
.card:hover{
  border-color: var(--cardHover);
  transform: scale(1.03);
  transition: transform 0.2s ease-in;
}
.card.active {
  border-color: var(--cardActiveBorder);
}

.button:hover {
  transform: scale(1.03);
  transition: transform 0.1s ease-in;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/intervariable-italic.woff2') format('woff2-variations');
  font-weight: 1 999;
  font-style: italic;
  font-display: swap;
}